form#create-edit-game, form#create-edit-snake {
    .form-group.checkbox {
        line-height: 64px;

        label {
            padding-left: 30px;
        }

        input[type=checkbox] {
            top: 50%;
            width: 20px;
            height: 20px;
            margin-left: -30px;
            margin-top: -10px;
        }
    }
}