.Daemons__grid {
  margin-bottom: 20px;

  .Grid__item {
    h2 {
      font-weight: bold;
      font-size: 24px;
    }

    h4 {
      margin-bottom: 10px;
      font-size: 18px;
    }

    p {

    }
  }
}

.Daemons__list {
  margin-bottom: 20px !important;

  .Daemon__listItem {
    h2 {
      display: inline-block;
      font-weight: bold;
    }
  }
}