.snake-container {
    .header {
        .head-image {
            margin-right: 10px;
            vertical-align: top;
            border-radius: $border-radius-base;
        }

        h3.name {
            display: inline-block;
            margin: 0px;
            margin-right: 10px;
            line-height: 40px;
            vertical-align: top;
        }
    }

    .footer {
        pre.endpoint {
            display: inline-block;
            padding: 0px 10px;
            margin-bottom: 0px;
            height: 30px;
            line-height: 30px;
            color: $gray-light;
            background: white;
            border: none;
        }

        $status-indicator-diameter: 24px;
        span.status {
            display: inline-block;
            margin: ((30px - $status-indicator-diameter) / 2) 0px;
            width: $status-indicator-diameter;
            height: $status-indicator-diameter;

            border-radius: $status-indicator-diameter / 2;

            &.ok {
                background: material-color('green', '400');
            }

            &.warn {
                background: material-color('yellow', '400');
            }

            &.danger {
                background: material-color('red', '400');
            }
        }

        div.text-right {
            > * {
                margin-left: 10px;
                vertical-align: top;
            }
        }
    }
}