.grid {
    .grid-row {
        display: flex;

        flex-direction: row;
        flex-wrap: nowrap;

        margin-bottom: 30px;

        @include breakpoint(max-width $screen-sm-min) {
            flex-direction: column;
            margin: 0px;
            width: 100%;
        }

        $grid-item-padding: 10px;
        .grid-item {
            position: relative;
            display: inline-block;

            width: 25%;

            padding: $grid-item-padding;
            margin: 0px 15px;

            border: 1px solid $brand-primary;
            border-radius: $border-radius-base;

            &:first-child { margin-left: 0px; }
            &:last-child { &:not(:first-child) { margin-right: 0px; } }

            > h1,h2,h3,h4,h5 {
                &:first-child {
                    margin-top: 0px;
                    margin-bottom: 5px;
                }
            }

            .footer {
                margin-top: 10px;
            }

            @include breakpoint(max-width $screen-sm-min) {
                margin: 0px;
                margin-bottom: 10px;
                width: 100%;
            }

            /*.footer {
                position: absolute;
                left: $grid-item-padding; right: $grid-item-padding;
                bottom: $grid-item-padding;
            }*/
        }
    }
}