.Example {
  h4, h5 {
    padding: 15px 0;
    font-weight: normal;
    font-size: 15px;
    color: $font-color-blue;

    &:first-child {
      padding-top: 0;
      margin-top: 0;
    }
  }
}

.Example__code {
  margin-bottom: 20px;
  max-height: 300px;
  overflow-y: auto;
}

.Example__error {
  color: $font-color-red;
}

.Example__footer {
  text-align: right;

  code {
    padding: 0px 4px;
    margin-right: 10px;
    line-height: 32px;
    vertical-align: top;
  }
}