.CreateOrEditDaemonForm {
  max-width: 500px;
  margin: 0px auto;
}

.CreateOrEditDaemonForm__sectionTitle {
  margin: 20px 0px;
  font-size: 20px;
}

.CreateOrEditDaemonForm__footer {
  text-align: right;
}
