{
  "plugins": [
    [ "relay", {
      "artifactDirectory": "./src/__artifacts__",
      "compat": true,
      "schema": "./src/graphql/schema.graphql"
    } ]
  ],
  "presets": [ "es2015", "react" ]
}