{
  "plugins": [
    [ "relay", {
      "artifactDirectory": "./src/__artifacts__",
      "compat": true,
      "schema": "./src/graphql/schema.graphql"
    } ],
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ],
  "presets": [ "@babel/env", "@babel/preset-react", "@babel/preset-typescript" ]
}