.ViewBoards {
  margin-bottom: 20px;

  .Grid {
    > * {
      position: relative;

      .Board__container {
        min-height: 200px;

        .Board {
          position: relative;
          margin-bottom: 20px;
        }
      }



      .Screen {
        position: absolute;
      }



      h2 {
        width: 100%;
        font-weight: bold;
        font-size: 24px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      h4 { font-size: 18px; }
    }
  }
}

.Boards__list {
  margin-bottom: 20px !important;

  .Board__listItem {
    h2 {
      display: inline-block;
      font-weight: bold;
    }
  }
}