$file-upload-padding: 5px;
$file-upload-item-height: 30px;
$file-upload-empty-min-height: 2 * $file-upload-item-height + 2 * $file-upload-padding;

.FileUpload__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.FileUpload__label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
  white-space: nowrap;
}

.FileUpload {
  display: flex;
  flex-direction: column;

  padding: 5px;
  min-height: 60px;
  color: $color-dark-grey;
  background: $color-light-grey;
  border: 1px solid $color-dark-grey;
  border-radius: $border-radius-base;

  cursor: pointer;

  input {
    display: none;
  }

  &.--dragActive {
    border-style: dashed;
  }

  &.--empty {
    justify-content: center;
    align-items: center;
  }

  &.--full {
    padding: 4px;
    min-height: auto;
  }
}



.FileUpload__emptyContent {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
}
