.Upload {
  display: flex;

  .Icon {
    &.--success {
      font-size: 16px;
      color: $color-green;
    }

    &.--error {
      font-size: 16px;
      color: $color-red;
    }
  }

  &:not(:last-of-type) {
    margin-bottom: 5px;
  }
}

.Upload__preview {
  flex: 0 0 30px;
  height: 30px;
  width: auto;

  margin-right: 10px;

  border-radius: $border-radius-base;
  box-sizing: border-box;
}

.Upload__fileName {
  flex: 1 1 auto;
  margin-right: 5px;
  line-height: 30px;
  white-space: nowrap;
  overflow-x: hidden;
}

.Upload__progress {
  display: flex;
  flex: 0 1 100px;
  align-items: center;
}

.Upload__progressBar {
  width: 100px !important;
}

.Upload__cancelClear {
  flex: 0 0 30px;
  line-height: 30px;
}



