.Dashboard {
  position: fixed;

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  margin-bottom: 30px;

  overflow-y: scroll;
}

.Dashboard__content {
  margin-top: 62px;
  margin-bottom: 62px;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
