.GameStatusBadge {
  padding: 3px;
  font-size: 12.5px;
  color: $color-dark-grey;
  line-height: 15px;
  background: $color-lighter-grey;
  border: 1px solid $color-grey;
  border-radius: $border-radius-base;

  &.--completed {
    color: white;
    background: $color-lighter-green;
    border-color: $color-green;
  }

  &.--created {

  }

  &.--inProgress {
    color: white;
    background: $color-lighter-blue;
    border-color: $color-blue;
  }
}
