.GameListItem {
  display: flex;

  color: $font-color-blue;
  line-height: 25px;
  text-decoration: none;
  border-radius: $border-radius-base;

  > * {
    flex: 1 1 auto;
    align-items: center;
  }
}

.GameListItem__left {
  .GameListItem__creator {
    margin-left: 10px;
  }
}

.GameListItem__right {
  display: flex;
  justify-content: flex-end;
}

.GameListItem__snakes {
  display: flex;
  align-items: center;

  .SnakeAvatar {
    &:not(:last-of-type) {
      margin-right: 5px;
    }
  }

  div.more {
    padding-left: 5px;
  }
}

.GameListItem__viewCount {
  margin-right: 10px;
}
