$select-height: 40px;

.Select {
    .Select-control {
        box-sizing: border-box;

        height: $select-height;
        line-height: $select-height;
        border: 1px solid $brand-primary;
        border-radius: 2px;

        .Select-placeholder {
            line-height: $select-height - 2px;
        }

        $select-value-padding-vertical: 2px;
        $select-value-padding-horizontal: 5px;
        .Select-value {
            box-sizing: border-box;
            height: 28px;
            line-height: 26px - (2 * $select-value-padding-vertical);

            > .Select-value-label {
                padding: $select-value-padding-vertical $select-value-padding-horizontal;
                line-height: inherit;
            }
        }

        .Select-input {
            margin-top: 5px;
        }
    }

    &.Select--single {
        .Select-value {
            margin-top: 7.5px;
        }
    }
}