.Navigation {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;

  margin: 0px;
  background: white;
  border-bottom: 2px solid $color-blue;

  z-index: 10;
}

.Navigation--compact:not(.Navigation--expanded) {
  .Navigation__inner {
    .NavItem__brand {
      font-size: 20px;
    }

    .NavItem {
      line-height: 40px;
    }
  }
}

.Navigation__inner {
  display: flex;
  justify-content: space-between;
}

.Navigation__right {

}

.Navigation__toggle {
  display: none;
  margin: 0px;
  margin-right: -20px;
  padding: 0px;

  font-size: 24px !important;
  line-height: 40px;
}

.Navigation__mobile {
  overflow-y: hidden;

  .NavItem {
    display: block;
    padding: 0px 5px;

    &.NavItem__brand,
    &.Navigation__toggle {
      display: none;
    }
  }
}

$navigation-timing: 200ms;
.Navigation__mobile--enter {
  max-height: 0px;
}

.Navigation__mobile--enter.Navigation__mobile--enterActive {
  max-height: 1000px;
  transition: max-height $navigation-timing ease;
}

.Navigation__mobile--exit {
  max-height: 1000px;
}

.Navigation__mobile--exit.Navigation__mobile--exitActive {
  max-height: 0px;
  transition: max-height $navigation-timing ease;
}

@media screen and ( max-width: 1000px) {
  .Navigation {
    .Navigation__toggle {
      display: block;
    }
    // padding: 0px 20px;
    .Navigation__inner {
      .NavItem:not(.Navigation__toggle):not(.NavItem__brand) {
        display: none;
      }
    }
  }
}