.NotificationManager {
  position: fixed;

  bottom: 0px;
  right: 0px;

  padding: 5px;

  .Notifications {
    display: inline-flex;
    flex-direction: column;
    margin: auto;

    > *:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}