.modal-container {
    position: fixed;
    top: 0px; left: 0px;
    bottom: 0px; right: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow-y: none;
    z-index: 10;

    .modal-screen {
        position: fixed;

        top: 0px; left: 0px;
        bottom: 0px; right: 0px;

        background: rgba(255, 255, 255, 0.9);
        cursor: pointer;
        z-index: 11;
    }

    .modal {
        position: relative;
        display: block;

        width: 500px;
        max-height: 500px;

        padding: 30px;
        padding-top: 60px;
        margin: 15px;

        background: white;
        border: 2px solid $brand-primary;
        border-radius: $border-radius-base;

        overflow-y: scroll;

        .close {
            position: absolute;
            top: 0px;
            right: 0px;

            padding-top: 15px;
            padding-right: 15px;

            opacity: 0.85;

            font-size: 22px;
            color: $brand-primary;
        }

        .btn-row {
            margin-top: 30px;
            margin-bottom: 0px;
        }
    }
}