.ColorPicker__container {
  position: relative;
  margin-bottom: 10px;
}

.ColorPicker__picker,
.sketch-picker {
  position: absolute;
  margin-top: 10px;
}

.ColorPicker {
  display: flex;
  flex-wrap: nowrap;

  > * { vertical-align: top; }

  .TextInput__container {
    flex: 1 1 auto;
    margin: 0px;
  }
}

.ColorPicker__label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
  white-space: nowrap;
}

.ColorPicker__input {
  flex: 1 1 auto;
}

.ColorPicker__swatch {
  flex: 0 0 40px;
  width: 40px;
  height: 40px;
  margin-left: 10px;

  border-radius: $border-radius-base;
  cursor: pointer;
}