.Button {
  display: inline-block;
  padding: 6px 12px;

  font-size: 16px;
  line-height: 20px;

  background: none;

  border-radius: 2px;
  border-width: 1px;
  border-style: solid;

  white-space: nowrap;

  cursor: pointer;
  outline: none;
}

.--block {
  display: block;
  width: 100%;
}

.--block {
  display: block;
}

.--disabled {
  color: $color-grey;
  border-color: $color-grey;
  cursor: not-allowed;

  &.--fill {
    color: $color-dark-grey;
    background-color: $color-lighter-grey;
    border-color: $color-lighter-grey;
  }
}

.--tall {
  padding: 8px 12px;
  line-height: 22px;
}

.--small {
  padding: 4px 8px;
  line-height: 20px;
}

/* colors */
@mixin colored-button($primary, $secondary, $tertiary) {
  &:not(.--disabled) {
    color: $secondary;
    background-color: $primary;
    border-color: $tertiary;

    &:hover {
      color: if($secondary == white, white, darken($secondary, 20%));
      border-color: darken($tertiary, 20%);

      &.--fill {
        color: white;
        background-color: darken($tertiary, 5%);
        border-color: darken($tertiary, 5%);
      }
    }

    &.--fill {
      background-color: $tertiary;
      color: white;
      border-color: $tertiary;
    }
  }
}

.--blue,
.--default {
  @include colored-button(white, $color-blue, $color-blue)
}

.--green {
  @include colored-button(white, $color-green, $color-green)
}

.--red {
  @include colored-button(white, $color-red, $color-red)
}
