.CreateEditDaemonForm {
  max-width: 500px;
  margin: 0px auto;
}

.CreateEditDaemonForm__sectionTitle {
  margin: 20px 0px;
  font-size: 20px;
}

.CreateEditDaemonForm__footer {
  text-align: right;
}
