.documentation {
    .types {
        .title-container {
            margin-bottom: 20px;
        }
    }

    .section {
        margin-bottom: 50px;

        .title-container {
            display: block;
            padding: 10px 0px;
            background: $brand-primary;

            &:hover {
                text-decoration: none;

                h3, h4 {
                    &:after {
                        display: inline-block;
                    }
                }
            }

            h3, h4 {
                display: inline-block;
                color: white;

                &:after {
                    display: none;
                    margin-left: 20px;
                    font-family: FontAwesome;
                    font-size: 20px;
                    color: white;
                    content: $fa-var-paragraph;
                }
            }

            h4 {
                &:after {
                    font-size: 12px;
                }
            }
        }

        h3 {
            margin: 20px 0px;
        }

        h4 {
            margin: 30px 0px;
        }

        .example {
            pre {
                max-height: 300px;
            }

            .button-container {
                code {
                    padding: 6px 12px;
                    margin-right: 10px;
                    vertical-align: top;
                }
            }
        }

        &.testing {
            h4 {
                margin-bottom: 10px;
            }

            input[type=checkbox] {
                width: 20px;
                height: 20px;

                margin: 0px;
                margin-right: 10px;
            }

            label {
                line-height: 20px;
                > span { vertical-align: top; }
            }
        }
    }
}

@media (max-width: $screen-xs-max) {
    .documentation {
        .section {
            .example {
                .button-container code {
                    display: inline-block;
                    margin-right: 0px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
