$items-per-row: 5;

.Grid {
  display: grid;
  align-items: start;
  justify-content: space-between;
  grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
  grid-template-rows: auto auto auto;
  grid-row-gap: 10px;

  > * {
    padding: 10px;

    border: 1px solid $brand-primary;
    border-radius: $border-radius-base;
  }
}
