.EditGame {
  .EditGame__container {
    display: flex;

    > *  {
      flex: 1;

      &.EditGame__boardContainer {
        flex: 0;
        flex-basis: 50%;
      }

      &:first-child {
        margin-right: 20px;
      }
    }
  }
}