.Table {
  width: 100%;
}

.Table--striped tbody .Table__row:nth-child(odd) {
  background: $color-light-grey;
}

.Table__row {
  td, th {
    padding: 10px;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $color-lighter-grey;
  }
}

.Table__thead .Table__row {
  border-bottom: 1px solid $color-lighter-grey;

  th {
    text-align: left;
  }
}