.Checkbox__container {
  display: inline-flex;
  align-items: center;
  height: 40px;
  margin-bottom: 10px;
  vertical-align: top;
}

.Checkbox {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;

  background: white;
  border: 1px solid $color-grey;
  border-radius: 2px;

  cursor: pointer;
  overflow: hidden;

  input {
    position: absolute;
    top: -100%;
  }
}

.Checkbox:not(.Checkbox--checked):hover {
  .Checkbox__icon {
    display: block;
  }
}

.Checkbox__icon {
  display: none;
  color: $color-grey;
  font-size: 12px;
}

.Checkbox--checked {
  border-color: $color-blue;

  .Checkbox__icon {
    display: block;
    color: $color-blue;
  }
}

.Checkbox__label {
  margin-left: 10px;
  cursor: pointer;
}
