.FieldGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  > *:not(:last-child) {
    margin-right: 5px;
  }

  > *:not(:first-child) {
    margin-left: 5px;
  }
}

.FieldGroup--equalWidth {
  > * { flex: 1; }
}

.FieldGroup__labelOffset {
  margin-top: 11px;
}

.FieldGroup__label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  white-space: nowrap;
}

.FieldGroup--vertical {
  flex-direction: column;

  > * {
    flex: none;
    width: 100%;
  }
}

@media only screen and (max-width: $screen-size-md) {
  .FieldGroup {
    flex-direction: column;

    > * {
      flex: none;
      margin: 0px !important;
      width: 100%;
    }

    > *:not(:last-child) { margin-bottom: 10px !important; }
  }
}
